.employee-form {
    width: 600px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-group {
    position: relative;
    flex-basis: 45%;
}

.form-group > label {
    margin-right: 10px;
}

.form-group > input {
    height: 25px;
    padding: 0 10px;
}

.error-label {
    position: absolute;
    left: 46px;
    top: 27px;
    font-size: 12px;
    color: red;
}

.form-buttons {
    display: flex;
    align-items: center;
}

.form-buttons button {
    margin-right: 20px;
    height: 30px;
    padding: 0;
}